@import "tailwindcss";

@utility round-box {
  @apply rounded-lg border border-zinc-500 px-3 py-2 shadow-md bg-zinc-100 transition-colors;
}

button {
  @apply round-box;
  @apply enabled:hover:bg-zinc-200 enabled:hover:border-blue-500 enabled:active:bg-zinc-300;
  @apply disabled:cursor-not-allowed disabled:brightness-80;
}

@theme {
  --animate-spin: spin 1s ease-in-out infinite;
}
