@import "tailwindcss";

@utility round-box {
  @apply rounded-lg border border-zinc-500 px-3 py-2 shadow-md bg-zinc-100 transition-colors;

  @apply hover:bg-zinc-200 hover:border-blue-500 active:bg-zinc-300;

  @apply disabled:cursor-not-allowed disabled:brightness-80;
}

button {
  @apply round-box;
}
